<template>
  <app-navigation></app-navigation>
  <div>
    <v-img src="../assets/metropole.png" alt="logo" aspect-ratio="2.4" />
  </div>
  <rotating-photos />
  <v-footer app></v-footer>
</template>

<script>
import { defineComponent } from 'vue';

// Components
import appNavigation from '@/components/AppNavigation.vue';
import RotatingPhotos from '@/components/RotatingPhotos.vue';

export default defineComponent({
  name: 'HomeView',
  components: { RotatingPhotos, appNavigation },
});
</script>

<style scoped>
* {
  border: 1px solid red;
}
</style>
