<template>
  <v-app-bar>
    <v-app-bar-nav-icon class="hidden-md-and-up"></v-app-bar-nav-icon>
    <v-app-bar-title>{{ appTitle }}</v-app-bar-title>
    <v-spacer class="hidden-md-and-up"></v-spacer>
    <v-btn flat class="hidden-sm-and-down">Menu</v-btn>
  </v-app-bar>
</template>

<script>
export default {
  name: 'AppNavigation.vue',
  data() {
    return {
      appTitle: 'The Metropole Cafe',
    };
  },
};
</script>

<style scoped></style>
