<template>
  <div>
    <v-carousel>
      <v-carousel-item
        v-for="(photo, i) in photos"
        :key="i"
        :src="photo.src"
        class="images"
      ></v-carousel-item>
    </v-carousel>
  </div>
</template>

<script>
export default {
  name: 'RotatingPhotos.vue',
  data() {
    return {
      photos: [
        // Images wouldn't render unless I use the require method
        {
          src: require('@/assets/latte.png'),
        },
        {
          src: require('@/assets/icedtea.png'),
        },
        {
          src: require('@/assets/mocha.png'),
        },
        {
          src: require('@/assets/brunch.png'),
        },
      ],
    };
  },
};
</script>

<style scoped>
.images {
  min-width: 100px;
  min-height: 100px;
}
</style>
