<template>
  <v-app>
    <v-main fluid transition="slide-x-transition">
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>

<style></style>
